.base {
    background-color: #f8fafc;
    margin: 0;
}

.nav-bar{
    background-color: #ffffff ;
    padding: 1px;
    border-top: #f8fafc 1px;
    border-bottom: #f8fafc 1px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/* LOGO y titulo de navbar */
.container-logo{
    display: flex;
}

.logo{
    background-color: #10b981;
    width: 25px; 
    height: 25px;
    margin: 11px;
    margin-left: 30px;
    border-radius: 50%;
}
.text-bar{
    font-size: medium;
    color: #0f172a;
}

/* links */

.links {
    margin: auto;
    margin-top: 15px;
}

.link-bar{
    text-decoration: none;
    color: #64748b;
    margin: 10px;
}

/* boton registrar */

.container-register {
    background-color:#10b981;
    padding: 8px;
    margin-right: 30px; 
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.register-button{
    text-decoration: none;
    padding: 3px;
    color: #ffffff ;
}