.base {
    background-color: #f8fafc;
    margin: 0;
}

.nav-bar{
    background-color: #ffffff ;
    padding: 1px;
    border-top: #f8fafc 1px;
    border-bottom: #f8fafc 1px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

/* LOGO y titulo de navbar */
.container-logo{
    display: flex;
}

.logo{
    background-color: #10b981;
    width: 25px; 
    height: 25px;
    margin: 11px;
    margin-left: 30px;
    border-radius: 50%;
}
.text-bar{
    font-size: medium;
}

/* links */

.links {
    margin: auto;
}

.link-bar{
    text-decoration: none;
    color: #64748b;
    margin: 10px;
}